* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
 
}

/* estilos al ancla */
.btn-arriba {
  width: 40px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 5px;
  border-radius: 50%;

  color: #fff;
  transition: all 0.5s ease;
  z-index: 2000;
}

.btn-arriba i {
  text-align: center;
  font-size: 15px;
}

.btn-arriba:hover {
  color: white;
  box-shadow: 0 8px 16px rgba(70, 60, 63, 0.5);
  transform: scale(1.1);
}

/* Estilos al carrousel de inicio */
.carousel-item { position: relative; }

/* overlay que NO bloquea clics */
.carousel-item .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.45);
  pointer-events: none;
}

.carousel-caption { z-index: 2; }
.carousel-control-prev, .carousel-control-next { z-index: 2; }


/* estilo a la card de los productos */
.contenido-productos{
  cursor: pointer;
  transition: all 0.3s ease;
}

.contenido-productos:hover {
  box-shadow: 0 8px 16px rgba(184, 183, 183, 0.5);
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.iconos-productos i{
  transition: all 0.3s ease;
  font-size: 20px;
}
.iconos-productos i:hover{
  color: bisque;
  transition: all 0.3s ease;
}

.content-img{
  width: 100%;
}
.content-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media(max-width: 500px){
  .titulo-principal{
    font-size: 35px !important;
  }
}